.gamePageContent {
  width: 80%;
  height: 100%;
  overflow: auto;
  justify-self: center;

  .bodyGame {
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 2rem;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 100%;
      height: 10%;
      color: var(--titleText);
      font-size: var(--h1FontSize);
      text-align: center;
    }

    .GameWindow {
      width: 100%;
      height: 90%;
      overflow: inherit;
      background-color: var(--bodyBgColor);
    }

    .playButton {
      width: 100px;
      height: 100px;
      background: var(--bgColor);
      border-radius: 5px;
      box-shadow: 0 2px 4px var(--shadow);
      font-weight: bold;
      align-items: center;
      &:hover{
        cursor: pointer;
        background-color: var(--bodyBgColor);
      }
    }
  }
  .GameBoxes{
    width: 100%;
    gap: 2rem;
}
}