.gamePageContent {
    width: 80%;
    height: 100%;
    overflow: auto;
    justify-self: center;
  
    .bodyGame {
      width: 100%;
      height: 100%;
      gap: 1rem;
      padding: 2rem;
  
      p {
        width: 100%;
        height: 10%;
        color: var(--titleText);
        font-size: var(--h1FontSize);
        text-align: center;
      }
  
      .GameWindow {
        width: 100%;
        height: calc(90% - 2rem); /* Subtract the padding from the height */
        overflow: auto;
        justify-self: center;
        background-color: aquamarine;
      }
    }
  }