.profileContent{
    margin: 0;
    width: 80%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: var(--bgColor);
    
    .profileBody{
        width: 100%;
        height: 100%;
        padding: 10px;
        align-items: center;
        .profileTitle{
            width: 100%;
            align-items: center;
            margin: 0;
            text-align: center;
            color: var(--titleText);
            font-size: var(--h2FontSize);
        }
        
        .InforTable{
            width: 100%;
            height: 100%;
            outline: 1px;
            gap: 2rem;
            
            img{
                border-radius: 10px;
                outline: 2px;
            }
            .UserInfor{
                gap: 1rem;
                align-items: flex-start;
                font-weight: bold;
                
            }
        }
        
    }
}