.managedContent{
    margin: 0;
    width: 80%;
    height: 100%;
    overflow: auto;
    
    justify-content: center;
    border: 2px solid black;
    background-color: var(--bgColor);
    border-radius: 20px;
    .profileTitle{
        width: 100%;
        height: 100%;
        padding: 10px;
        align-items: center;
        text-align: center;
        color: var(--titleText);
        font-size: var(--h2FontSize);
    }
    .manageBody{
        gap: 2rem;
        align-items: flex-start;
    }
}