.PopUpContent{
    position: fixed;
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
    background-color: var(--bgColor);
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
    .PopUpTilte{
        color: var(--titleText);
        text-align: center;
    }
    .Properties{
        .Property{
            margin: 10px;
        }
        .Input{
            padding: 1rem 2rem;
            background: var(--bgColor);
            border-radius: 5px;
            gap: 1rem;
            box-shadow: 0 2px 4px var(--orange);
            width: 70%;
            height: 30px;
            input{
                border: none;
                outline: none;
                background: none;
            }
        }
        .Browse{
            margin: 10px;
            padding: 1rem 2rem;
            justify-content: center;
            align-items: center;
            background: var(--bgColor);
            border-radius: 5px;
            box-shadow: 0 2px 4px var(--orange);
            width: 10%;
            height: 30px;
            align-items: center;
            &:hover{
                cursor: pointer;
                background-color: var(--bodyBgColor);
            }
            font-weight: bold;
        }
    }
    .Upload{
        justify-content: center;
        align-items: center;
        margin: 10px 40%;
        padding: 1rem 2rem;
        background: var(--bgColor);
        border-radius: 5px;
        box-shadow: 0 2px 4px var(--orange);
        width: 20%;
        height: 30px;
        font-weight: bold;
        align-items: center;
        &:hover{
            cursor: pointer;
            background-color: var(--bodyBgColor);
        }
    }
}