
.sideBar{
    background-color:var(--bgColor);
    box-shadow: 1px 0px 4px var(--greyText);
    width: 20%;
    height: 100%;
    gap: 3rem;
    overflow: auto;

    .logo{
        display:grid;
        padding: 1.5rem 1.5rem 0;
        cursor: pointer;
        padding-left: 2rem;

        display: flex; /* Chuyển sang flex container */
        flex-direction: column; /* Sắp xếp các phần tử theo cột */
        align-items: center; /* Căn giữa các phần tử theo chiều ngang */
        img{
           width: 90%;
           margin-right: .5rem;
           background-color: var(--bgColor);
           border-radius: 2px;
           padding: .2rem;
           box-shadow: 1px 0px 4px var(--greyText);
           border-radius: 20px;
          // align-items: center;
        }
    }
}

.Tag{
  .Title{
    font-size: var(--h1FontSize);
    color: var(--titleText);
    padding: 2rem 2rem 1rem;
  }

  .UserMenuList{
    .ListItems{
      padding: 1rem 1.5rem;
      width: 100%;
      position: relative;
      font-size: var(--h2FontSize);

      &::before{
        position: absolute;
        content: '';
        height: 0%;
        left:0;
        width: 5px;
        bottom: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: var(--shadow);
      }

      .tagLink{
        color: var(--titleText);
        font-weight: 500;
        transition: 0;
      }

      &:hover .tagLink{
        color: var(--shadow);
        transition: 0;
      }

      &:hover::before{
        height: 80%;
        transition: .3s ease;
      }
    }
  }
}
