:root{
    --PrimaryColor: #4F200D;
    --HoverColor: #F4A460;
    --orange: #FF7F00;
    --white-color: white;
    --black-color: black;
    --inputColor:hsl(330,12%,97%);
    --textColor:hsl(240, 1%,48%);
    --bgColor:#FFF9B0;
    --greyText: rgb(190,190,190);
    --titleText: #CF0A0A;
    --bodyBgColor: #FFD384;
  
    --biggest-font-size: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem; 
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.Body{
    background:var(--bodyBgColor);
    padding: 2rem;
    .GameBoxes{
        width: 100%;
        align-items: center;
        gap: 2rem;
    }
    
}