
.RegisterContainer{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../Assets/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 2px 3px 8px gray;
    .registerContent{
        width: 30%;
        height: 70%;
        overflow: auto;
        justify-self: center;
        backdrop-filter: blur(20px);
        border: 2px solid #000;
        border-radius: 20px;
        background-color: transparent;
        .RegisterForm{
            width: 100%;
            height: 100%;
            gap: 1rem;
            padding: 2rem;
            .Title{
                text-align: center;
                font-size: var(--biggest-font-size);
                color: var(--white-color);
            }
            .inputBox{
                width: 80%;
                height: 40px;
                background: var(--bgColor);
                border-radius: 5px;
                gap: 1rem;
                padding: 5px;
                box-shadow: 0 2px 4px var(--orange);
                justify-self: center;
                input{
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    background: none;
                }
            }
            
            .SubmitButton{
                width: 50%;
                height: 50px;
                justify-self: center;
                background-color: var(--bgColor);
                border: 2px solid #000;
                border-radius: 20px;
                &:hover{
                    cursor: pointer;
                    background-color: var(--bodyBgColor);
                }
            }
            .logInLink{
                
                font-size: var(--h3FontSize);
                p{
                    color: var(--white-color);
                    a{
                        font-weight: bold;
                        margin: 5px;
                        color: var(--white-color);
                        text-decoration:none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    text-align: center;
                }
            }
            
        }
        
    }
    .successPopup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: --bgColor;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .p{
            text-align: center;
            font-size: var(--biggest-font-size);
            color: var(--white-color); 
        }
        .popup-content {
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
        .btn{
            width: 50%;
            height: 50px;
            justify-self: center;
            background-color: var(--bgColor);
            border: 2px solid #000;
            border-radius: 20px;
            &:hover{
                cursor: pointer;
                background-color: var(--bodyBgColor);
            }
        }
    }
}