.top{
    .Header{
        justify-content: space-between;
        
        .Title{
            h1{
                font-size: var(--h1FontSize);
                color: var(--titleText);
                font-weight: 700;
            }
            h3{
                font-size: var(--normalFontSize);
                color: var(--titleText);
                font-weight: 500;
            }
        }
        
        .SearchBar{
            padding: 1rem 2rem;
            background: var(--bgColor);
            border-radius: 5px;
            gap: 1rem;
            box-shadow: 0 2px 4px var(--shadow);
            width: 40%;
            height: 30px;

            input{
                border: none;
                outline: none;
                background: none;
            }

            .icon{
                color: var(--textColor);

                &:hover{
                    cursor: pointer;
                    color: var(--PrimaryColor);
                }
            }
        }
    }

    .TitleImg{
        padding: 2rem;
        border: 3px solid var(--bodyBgColor);
        border-radius: 20px;
        img{
            padding: 0;
            width: 100%;
            height: 30%;
            align-items: center;
            border-radius: 20px;
        }
    }
}