.top{
    .Header{
        justify-content: space-between;
        
        .Title{
            h1{
                font-size: var(--h1FontSize);
                color: var(--titleText);
                font-weight: 700;
            }
            h3{
                font-size: var(--normalFontSize);
                color: var(--titleText);
                font-weight: 500;
            }
        }
        
        
    }

    .TitleImg{
        padding: 2rem;
        border: 3px solid var(--bodyBgColor);
        border-radius: 20px;
        img{
            padding: 0;
            width: 100%;
            height: 30%;
            align-items: center;
            border-radius: 20px;
        }
    }
}